<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg p-5 mb-20">
      <h2 class="mx-auto">{{ title }}</h2>
    </nav>

    <div class="col-4"></div>
    <div class="col-4 mt-5">
      <app-contact></app-contact>
    </div>
    <div class="col-4"></div>
  </div>
  <br />
  <footer class="footer-distributed">
    <div class="footer-left">
      <p class="footer-links">
        <a href="#" class="link-1">Inicio</a>

        <a href="#">Blog</a>

        <a href="#">Precio</a>

        <a href="#">Sobre nosotros</a>

        <a href="#">Faq</a>

        <a href="#">Contáctanos</a>
      </p>

      <p class="footer-company-name">Thriflora © {{ currentYear }}</p>
    </div>

    <div class="footer-center">
      <div>
        <p><span>C/ Artes Graficas 16</span>Valencia, España</p>
      </div>

      <div>
        <p>+34.888.555.222</p>
      </div>

      <div>
        <p><a href="mailto:support@company.com">thriflora@company.com</a></p>
      </div>
    </div>

    <div class="footer-right">
      <p class="footer-company-about">
        <span>Sobre la empresa</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod
        convallis velit, eu auctor lacus vehicula sit amet.
      </p>
    </div>
  </footer>
</div>
