.card{
    border-radius: 3vh;
    margin: auto;
    max-width: 100%;
    padding: 7vh 6vh;
    align-items: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media(max-width:767px){
    .card{
        width: 90vw;
    }
}

.card-title p{
    color: rgb(29, 226, 226);
    font-weight: 900;
    font-size: 25px;
    margin-bottom: unset;
}

