<div *ngIf="modalShift" class="container d-flex justify-content-center mt-100">
  <div class="card">
    <div class="card-img">
      <img class="img-fluid" src="../../assets/roses.jpg" />
    </div>
    <div class="card-title">
      <p>¡Perfecto, te avisaremos la primera!.</p>
    </div>
  </div>
</div>

<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <h3>Formulario De Contacto</h3>

  <div class="mb-4">
    <label for="email" class="form-label">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      [(ngModel)]="model.email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      required
      #email="ngModel"
    />
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Este email no es válido!!
    </div>
  </div>

  <div class="mb-4 form-check">
    <label for="receive" class="form-label"
      >Quiero recibir un email cuando la tienda esté disponible</label
    >
    <input
      type="checkbox"
      class="form-check-input"
      id="receive"
      name="receive"
      [(ngModel)]="model.receive"
      required
      #receive="ngModel"
    />
    <div
      [hidden]="receive.valid || receive.pristine"
      class="alert alert-danger"
    >
      Este campo es obligatorio.
    </div>
  </div>

  <div class="mb-4">
    <label for="country" class="form-label">País</label>
    <select
      name="country"
      id="country"
      class="form-select form-select-sm"
      [(ngModel)]="model.country"
      required
    >
      <option selected></option>
      <option value="España">España</option>
      <option value="Francia">Francia</option>
      <option value="Italia">Italia</option>
    </select>
  </div>

  <div class="d-grid gap-2">
    <button
      type="submit"
      class="btn btn-info btn-lg"
      [disabled]="contactForm.invalid"
    >
      ¡Quiero ser la primera en comprar!
    </button>
  </div>
</form>
